/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* line-height: 24px; */

}

header {
  background-image: url(/apple-pie/images/apple-pie.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 3rem;  
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 25px 0;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

/* Main section styling */

main {
  /* width: 70%; */
  margin: auto;
  padding: 4rem;
}

#ingredients ul {
  list-style-type: "-";
  margin: 0 0 1rem 1rem;
}

#ingrecients h2 {
  margin: 0 0 14rem 0;
}

/* ol {
  list-style: none;
}

ol > li::before {
  counter-increment: listcounter;
}

ol > li::before {
  content: counter(listcounter) ")";
} */


#directions ol {
  list-style-type:none;
  counter-reset: section;
}

#directions ol li::before {
  content: ""counter(section)") ";
  counter-increment: section;
}

hr {
  margin: 25px;
}

section {
  margin: 25px 0;
}

#recipe-information p {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

