/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

/* Background header */
header {
  background-image: url(/french-soup/images/soup.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  justify-items: center;
  align-items: center;
}

p {
  margin-top: 45px;
}


h1 {
  color: white;
  margin: auto;
}

h2 {
  margin: 30px 0;
}

  main {
    width: 60%;
    margin: auto;
}

ul, ol {
    list-style: none;
}

ol > li {
  counter-increment: listcounter;
}

ol > li::before {
  content: counter(listcounter) ")";
}

img {
  display: block;
  margin: 0 auto;
}

